<?xml version="1.0" encoding="utf-8" ?>
<Offense>
  <Quarterbacks name="Quarterbacks"
    Starter="Andrew Luck"
    SecondString="Scott Tolzien"
    ThirdString="Stephen Morris" />
  <OffensiveLine name="OffensiveLine"
    LeftTackle="Anthony Constanzo"
    LeftGuard="Jack Mewhort"
    Center="Ryan Kelly"
    RightGuard="Hugh Thornton"
    RightTackle="Le'Raven Clark"
    Reserve1="Austin Blythe"
    Reserve2="Denzelle Good" />
</Offense>