<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<Offense xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <OffensiveLine name="OffensiveLine" xdt:Transform="Replace" xdt:Locator="Match(name)"
                 LeftTackle="Anthony Constanzo"
                 LeftGuard="Jack Mewhort"
                 Center="Ryan Kelly"
                 RightGuard="Hugh Thornton"
                 RightTackle="Denzelle Good"
                 Reserve1="Austin Blythe"
                 Reserve2="Le'Raven Clark"/>
    <!-- Slow Cheetah allows you to create transforms for any configuration just like with web.config
         For our release config, we're going to swap in Denzelle Good as the RightTackle starter because 
         he has starting experience from last year, and Le'Raven Clark is a rookie. -->
</Offense>